tests/e2e/flows.json
[
    {
        "id": "c251e58259a284ba",
        "type": "tab",
        "label": "API Gateway Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "41a4e2816a7792db",
        "type": "api-server",
        "z": "c251e58259a284ba",
        "name": "",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "153eb9a51cabd773"
            ]
        ]
    },
    {
        "id": "3b72238ba333a444",
        "type": "inject",
        "z": "c251e58259a284ba",
        "name": "Test Input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AIXÒ ÉS UPPERCASE",
        "payloadType": "str",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "41a4e2816a7792db"
            ]
        ]
    },
    {
        "id": "153eb9a51cabd773",
        "type": "debug",
        "z": "c251e58259a284ba",
        "name": "Server Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "endpoint-node-1",
        "type": "api-endpoint",
        "z": "c251e58259a284ba",
        "name": "",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "endpoint-debug-1"
            ]
        ]
    },
    {
        "id": "endpoint-inject-1",
        "type": "inject",
        "z": "c251e58259a284ba",
        "name": "Endpoint Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "API ENDPOINT TEST",
        "payloadType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "endpoint-node-1"
            ]
        ]
    },
    {
        "id": "endpoint-debug-1",
        "type": "debug",
        "z": "c251e58259a284ba",
        "name": "Endpoint Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": []
    }
]
