tests/e2e/msgdb-test-flow.json
[
    {
        "id": "msgdb-tab",
        "type": "tab",
        "label": "msg.db E2E",
        "disabled": false,
        "info": ""
    },
    {
        "id": "msgdb-api-config",
        "type": "apigw-config",
        "name": "msgdb api config",
        "dbType": "mssql",
        "dbHost": "localhost",
        "dbPort": "1433",
        "dbName": "master",
        "dbEncrypt": false,
        "dbTrustServerCertificate": true,
        "dbPoolMin": 0,
        "dbPoolMax": 5,
        "dbPoolIdleTimeout": 30000,
        "dbPoolAcquireTimeout": 15000,
        "oauth2Enabled": false,
        "opaEnabled": false,
        "tlsEnabled": false,
        "logLevel": "info"
    },
    {
        "id": "msgdb-api-server",
        "type": "apigw-server",
        "z": "msgdb-tab",
        "name": "msgdb api server",
        "host": "0.0.0.0",
        "port": "3200",
        "config": "msgdb-api-config",
        "openapiPath": "/openapi.json",
        "swaggerUiPath": "/docs",
        "metricsPath": "/metrics",
        "x": 200,
        "y": 100,
        "wires": []
    },
    {
        "id": "msgdb-endpoint",
        "type": "apigw-endpoint",
        "z": "msgdb-tab",
        "name": "GET /db-probe",
        "path": "/db-probe",
        "method": "GET",
        "server": "msgdb-api-server",
        "successStatusCode": 200,
        "responseContentType": "application/json",
        "validationEnabled": false,
        "crudOperation": "none",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "x": 200,
        "y": 200,
        "wires": [["msgdb-handler"]]
    },
    {
        "id": "msgdb-handler",
        "type": "function",
        "z": "msgdb-tab",
        "name": "db-probe handler (uses msg.db, no pool)",
        "func": "// IMPORTANT: this handler must NOT import mssql or create a pool.\n// It uses msg.db.executeQuery exposed by the api-gateway endpoint node.\nif (!msg.db || typeof msg.db.executeQuery !== 'function') {\n    msg.res.status(503).json({ error: 'msg.db not available' });\n    return null;\n}\nif (!msg.db.isReady()) {\n    msg.res.status(503).json({ error: 'db not ready' });\n    return null;\n}\ntry {\n    const r = await msg.db.executeQuery(\n        'SELECT @answer AS answer, @label AS label',\n        { answer: 42, label: 'msg-db-works' }\n    );\n    msg.res.json({ row: r.recordset[0], rowCount: r.recordset.length });\n} catch (e) {\n    node.error(e, msg);\n    msg.res.status(500).json({ error: e.message });\n}\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": []
    }
]
