tests/e2e/openapi-tls-test-flow.json
[
    {
        "id": "openapi-tls-flow",
        "type": "tab",
        "label": "OpenAPI TLS Test Flow",
        "disabled": false,
        "info": "## OpenAPI TLS Test Flow\n\nThis flow is used for e2e testing of OpenAPI/HTTPS functionality.\n\n### Test Endpoints\n\n| Method | Path | Description |\n|--------|------|-------------|\n| GET | /health | Health check endpoint |\n| GET | /openapi.json | OpenAPI specification |\n| GET | /docs | Swagger UI |\n\n### TLS Configuration\n\nThis flow requires certificates generated by mkcert:\n- Server certificate: tests/e2e/certs/server.crt\n- Server key: tests/e2e/certs/server.key\n- CA root: tests/e2e/certs/rootCA.pem"
    },
    {
        "id": "openapi-tls-config",
        "type": "api-config",
        "z": "",
        "name": "TLS Test API Config",
        "dbType": "none",
        "dbHost": "",
        "dbPort": "",
        "dbName": "",
        "dbEncrypt": false,
        "dbTrustServerCertificate": true,
        "dbPoolMin": 0,
        "dbPoolMax": 10,
        "dbPoolIdleTimeout": 30000,
        "dbPoolAcquireTimeout": 15000,
        "oauth2Enabled": false,
        "keycloakUrl": "",
        "keycloakRealm": "",
        "keycloakClientId": "",
        "jwtValidateIssuer": true,
        "jwtIssuer": "",
        "jwtValidateAudience": false,
        "jwtAudience": "",
        "jwtClockTolerance": 0,
        "jwtAlgorithms": "RS256",
        "opaEnabled": false,
        "opaUrl": "",
        "opaPolicyPath": "",
        "opaCacheTTL": 60000,
        "opaTimeout": 5000,
        "opaRetryAttempts": 3,
        "tlsEnabled": true,
        "tlsRejectUnauthorized": true,
        "tlsMinVersion": "TLSv1.2",
        "tlsCertPath": "/data/certs/server.crt",
        "tlsKeyPath": "/data/certs/server.key",
        "tlsCaPath": "",
        "apiVersion": "v1",
        "apiBasePath": "/api",
        "apiVersionInPath": true,
        "openapiTitle": "TLS Test API",
        "openapiDescription": "API for testing TLS/HTTPS functionality with OpenAPI specification.",
        "openapiContactName": "Test Contact",
        "openapiContactEmail": "test@example.com",
        "openapiContactUrl": "",
        "openapiLicenseName": "MIT",
        "openapiLicenseUrl": "https://opensource.org/licenses/MIT",
        "openapiTermsOfService": "",
        "loggingEnabled": true,
        "logLevel": "info",
        "logOutput": "console",
        "logPrettyPrint": true,
        "logFilePath": "",
        "logRedactHeaders": true,
        "logIncludeUserContext": true
    },
    {
        "id": "openapi-tls-server",
        "type": "api-server",
        "z": "openapi-tls-flow",
        "name": "TLS Test API Server",
        "port": "3443",
        "host": "0.0.0.0",
        "config": "openapi-tls-config",
        "openapiEnabled": true,
        "openapiPath": "/openapi.json",
        "swaggerUiEnabled": true,
        "swaggerUiPath": "/docs",
        "metricsEnabled": true,
        "metricsPath": "/metrics",
        "x": 150,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "health-endpoint",
        "type": "api-endpoint",
        "z": "openapi-tls-flow",
        "name": "Health Check",
        "server": "openapi-tls-server",
        "path": "/health",
        "method": "GET",
        "validationEnabled": false,
        "bodySchema": "",
        "querySchema": "",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"status\":{\"type\":\"string\",\"enum\":[\"healthy\"]},\"timestamp\":{\"type\":\"string\",\"format\":\"date-time\"},\"version\":{\"type\":\"string\"},\"tls\":{\"type\":\"boolean\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "custom",
        "tableName": "",
        "primaryKey": "",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 150,
        "y": 180,
        "wires": [["health-handler"]]
    },
    {
        "id": "health-handler",
        "type": "function",
        "z": "openapi-tls-flow",
        "name": "Handle Health Check",
        "func": "// Return health status indicating TLS is active\nmsg.res.json({\n    status: 'healthy',\n    timestamp: new Date().toISOString(),\n    version: '1.0.0',\n    tls: true\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "echo-endpoint",
        "type": "api-endpoint",
        "z": "openapi-tls-flow",
        "name": "Echo Request",
        "server": "openapi-tls-server",
        "path": "/echo",
        "method": "POST",
        "validationEnabled": true,
        "bodySchema": "{\"type\":\"object\",\"properties\":{\"message\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":1000}},\"required\":[\"message\"]}",
        "querySchema": "",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"echo\":{\"type\":\"string\"},\"receivedAt\":{\"type\":\"string\",\"format\":\"date-time\"},\"protocol\":{\"type\":\"string\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "custom",
        "tableName": "",
        "primaryKey": "",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 150,
        "y": 260,
        "wires": [["echo-handler"]]
    },
    {
        "id": "echo-handler",
        "type": "function",
        "z": "openapi-tls-flow",
        "name": "Handle Echo",
        "func": "// Echo the message back with metadata\nconst body = msg.req.body;\n\nmsg.res.json({\n    echo: body.message,\n    receivedAt: new Date().toISOString(),\n    protocol: 'https'\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "tls-comment",
        "type": "comment",
        "z": "openapi-tls-flow",
        "name": "TLS Test Configuration",
        "info": "This flow tests HTTPS/TLS functionality:\n\n1. Server runs on port 3443 with TLS enabled\n2. Certificates are mounted from tests/e2e/certs/\n3. OpenAPI spec and Swagger UI are served over HTTPS\n\nTest with:\n  curl --cacert tests/e2e/certs/rootCA.pem https://localhost:3443/api/v1/health\n  curl --cacert tests/e2e/certs/rootCA.pem https://localhost:3443/openapi.json",
        "x": 180,
        "y": 40,
        "wires": []
    }
]
