examples/basic-crud-api.json
[
    {
        "id": "basic-crud-flow",
        "type": "tab",
        "label": "Basic CRUD API Example",
        "disabled": false,
        "info": "## Basic CRUD API Example\n\nThis flow demonstrates a complete CRUD (Create, Read, Update, Delete) API for managing products.\n\n### Endpoints\n\n| Method | Path | Description |\n|--------|------|-------------|\n| GET | /api/v1/products | List all products |\n| GET | /api/v1/products/:id | Get a single product |\n| POST | /api/v1/products | Create a new product |\n| PUT | /api/v1/products/:id | Update a product |\n| DELETE | /api/v1/products/:id | Delete a product |\n\n### Features Demonstrated\n\n- **api-config**: Centralized configuration for database, API versioning, and OpenAPI metadata\n- **api-server**: HTTP server with OpenAPI spec generation and Swagger UI\n- **api-endpoint**: Individual endpoint definitions with validation schemas\n- **Request validation**: JSON Schema validation for request bodies\n- **Response schemas**: OpenAPI documentation for responses\n\n### Testing\n\n1. Deploy the flow\n2. Access Swagger UI at http://localhost:3200/docs\n3. Test endpoints using curl or the Swagger UI:\n\n```bash\n# List products\ncurl http://localhost:3200/api/v1/products\n\n# Create a product\ncurl -X POST http://localhost:3200/api/v1/products \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\": \"Widget\", \"price\": 29.99, \"description\": \"A useful widget\"}'\n\n# Get a product\ncurl http://localhost:3200/api/v1/products/1\n\n# Update a product\ncurl -X PUT http://localhost:3200/api/v1/products/1 \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\": \"Super Widget\", \"price\": 39.99}'\n\n# Delete a product\ncurl -X DELETE http://localhost:3200/api/v1/products/1\n```"
    },
    {
        "id": "crud-api-config",
        "type": "apigw-config",
        "z": "",
        "name": "Products API Config",
        "dbType": "none",
        "dbHost": "",
        "dbPort": "",
        "dbName": "",
        "dbEncrypt": false,
        "dbTrustServerCertificate": true,
        "dbPoolMin": 0,
        "dbPoolMax": 10,
        "dbPoolIdleTimeout": 30000,
        "dbPoolAcquireTimeout": 15000,
        "oauth2Enabled": false,
        "keycloakUrl": "",
        "keycloakRealm": "",
        "keycloakClientId": "",
        "jwtValidateIssuer": true,
        "jwtIssuer": "",
        "jwtValidateAudience": false,
        "jwtAudience": "",
        "jwtClockTolerance": 0,
        "jwtAlgorithms": "RS256",
        "opaEnabled": false,
        "opaUrl": "",
        "opaPolicyPath": "",
        "opaCacheTTL": 60000,
        "opaTimeout": 5000,
        "opaRetryAttempts": 3,
        "tlsEnabled": false,
        "tlsRejectUnauthorized": true,
        "tlsMinVersion": "TLSv1.2",
        "tlsCertPath": "",
        "tlsKeyPath": "",
        "tlsCaPath": "",
        "apiVersion": "v1",
        "apiBasePath": "/api",
        "apiVersionInPath": true,
        "openapiTitle": "Products API",
        "openapiDescription": "A simple CRUD API for managing products. This example demonstrates the basic capabilities of the Node-RED API Gateway.",
        "openapiContactName": "API Support",
        "openapiContactEmail": "support@example.com",
        "openapiContactUrl": "",
        "openapiLicenseName": "MIT",
        "openapiLicenseUrl": "https://opensource.org/licenses/MIT",
        "openapiTermsOfService": "",
        "loggingEnabled": true,
        "logLevel": "info",
        "logOutput": "console",
        "logPrettyPrint": true,
        "logFilePath": "",
        "logRedactHeaders": true,
        "logIncludeUserContext": true
    },
    {
        "id": "crud-api-server",
        "type": "apigw-server",
        "z": "basic-crud-flow",
        "name": "Products API Server",
        "port": "3200",
        "host": "0.0.0.0",
        "config": "crud-api-config",
        "openapiEnabled": true,
        "openapiPath": "/openapi.json",
        "swaggerUiEnabled": true,
        "swaggerUiPath": "/docs",
        "metricsEnabled": true,
        "metricsPath": "/metrics",
        "x": 150,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "list-products-endpoint",
        "type": "apigw-endpoint",
        "z": "basic-crud-flow",
        "name": "List Products",
        "server": "crud-api-server",
        "path": "/products",
        "method": "GET",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "{\"type\":\"object\",\"properties\":{\"limit\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100,\"default\":10},\"offset\":{\"type\":\"integer\",\"minimum\":0,\"default\":0}}}",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"data\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"integer\"},\"name\":{\"type\":\"string\"},\"price\":{\"type\":\"number\"},\"description\":{\"type\":\"string\"}}}},\"total\":{\"type\":\"integer\"},\"limit\":{\"type\":\"integer\"},\"offset\":{\"type\":\"integer\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "list",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 150,
        "y": 180,
        "wires": [["list-products-handler"]]
    },
    {
        "id": "list-products-handler",
        "type": "function",
        "z": "basic-crud-flow",
        "name": "Handle List Products",
        "func": "// In a real application, this would query a database\n// For this example, we return mock data\n\nconst products = [\n    { id: 1, name: 'Widget A', price: 19.99, description: 'A basic widget' },\n    { id: 2, name: 'Widget B', price: 29.99, description: 'An advanced widget' },\n    { id: 3, name: 'Gadget X', price: 49.99, description: 'A premium gadget' },\n    { id: 4, name: 'Tool Y', price: 9.99, description: 'An essential tool' },\n    { id: 5, name: 'Device Z', price: 99.99, description: 'A smart device' }\n];\n\nconst query = msg.req.query || {};\nconst limit = parseInt(query.limit) || 10;\nconst offset = parseInt(query.offset) || 0;\n\nconst paginatedProducts = products.slice(offset, offset + limit);\n\nmsg.res.json({\n    data: paginatedProducts,\n    total: products.length,\n    limit: limit,\n    offset: offset\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "get-product-endpoint",
        "type": "apigw-endpoint",
        "z": "basic-crud-flow",
        "name": "Get Product",
        "server": "crud-api-server",
        "path": "/products/:id",
        "method": "GET",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "",
        "paramsSchema": "{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\",\"pattern\":\"^[0-9]+$\"}},\"required\":[\"id\"]}",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"integer\"},\"name\":{\"type\":\"string\"},\"price\":{\"type\":\"number\"},\"description\":{\"type\":\"string\"}}},\"404\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"status\":{\"type\":\"integer\"},\"detail\":{\"type\":\"string\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "get",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 150,
        "y": 260,
        "wires": [["get-product-handler"]]
    },
    {
        "id": "get-product-handler",
        "type": "function",
        "z": "basic-crud-flow",
        "name": "Handle Get Product",
        "func": "// Mock product database\nconst products = {\n    1: { id: 1, name: 'Widget A', price: 19.99, description: 'A basic widget' },\n    2: { id: 2, name: 'Widget B', price: 29.99, description: 'An advanced widget' },\n    3: { id: 3, name: 'Gadget X', price: 49.99, description: 'A premium gadget' },\n    4: { id: 4, name: 'Tool Y', price: 9.99, description: 'An essential tool' },\n    5: { id: 5, name: 'Device Z', price: 99.99, description: 'A smart device' }\n};\n\nconst productId = msg.req.params.id;\nconst product = products[productId];\n\nif (product) {\n    msg.res.json(product);\n} else {\n    msg.res.status(404).json({\n        type: 'https://api.example.com/errors/not-found',\n        title: 'Product Not Found',\n        status: 404,\n        detail: `Product with ID ${productId} was not found`\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "create-product-endpoint",
        "type": "apigw-endpoint",
        "z": "basic-crud-flow",
        "name": "Create Product",
        "server": "crud-api-server",
        "path": "/products",
        "method": "POST",
        "validationEnabled": true,
        "bodySchema": "{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":100},\"price\":{\"type\":\"number\",\"minimum\":0},\"description\":{\"type\":\"string\",\"maxLength\":500}},\"required\":[\"name\",\"price\"]}",
        "querySchema": "",
        "paramsSchema": "",
        "responseSchemas": "{\"201\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"integer\"},\"name\":{\"type\":\"string\"},\"price\":{\"type\":\"number\"},\"description\":{\"type\":\"string\"},\"createdAt\":{\"type\":\"string\",\"format\":\"date-time\"}}},\"400\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"status\":{\"type\":\"integer\"},\"detail\":{\"type\":\"string\"},\"errors\":{\"type\":\"array\"}}}}",
        "successStatusCode": "201",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "create",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 160,
        "y": 340,
        "wires": [["create-product-handler"]]
    },
    {
        "id": "create-product-handler",
        "type": "function",
        "z": "basic-crud-flow",
        "name": "Handle Create Product",
        "func": "// In a real application, this would insert into a database\n// For this example, we simulate creating a product\n\nconst body = msg.req.body;\n\nconst newProduct = {\n    id: Math.floor(Math.random() * 10000) + 100,\n    name: body.name,\n    price: body.price,\n    description: body.description || '',\n    createdAt: new Date().toISOString()\n};\n\nmsg.res.status(201).json(newProduct);\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "update-product-endpoint",
        "type": "apigw-endpoint",
        "z": "basic-crud-flow",
        "name": "Update Product",
        "server": "crud-api-server",
        "path": "/products/:id",
        "method": "PUT",
        "validationEnabled": true,
        "bodySchema": "{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":100},\"price\":{\"type\":\"number\",\"minimum\":0},\"description\":{\"type\":\"string\",\"maxLength\":500}},\"minProperties\":1}",
        "querySchema": "",
        "paramsSchema": "{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\",\"pattern\":\"^[0-9]+$\"}},\"required\":[\"id\"]}",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"integer\"},\"name\":{\"type\":\"string\"},\"price\":{\"type\":\"number\"},\"description\":{\"type\":\"string\"},\"updatedAt\":{\"type\":\"string\",\"format\":\"date-time\"}}},\"404\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"status\":{\"type\":\"integer\"},\"detail\":{\"type\":\"string\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "update",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 160,
        "y": 420,
        "wires": [["update-product-handler"]]
    },
    {
        "id": "update-product-handler",
        "type": "function",
        "z": "basic-crud-flow",
        "name": "Handle Update Product",
        "func": "// Mock product database\nconst products = {\n    1: { id: 1, name: 'Widget A', price: 19.99, description: 'A basic widget' },\n    2: { id: 2, name: 'Widget B', price: 29.99, description: 'An advanced widget' },\n    3: { id: 3, name: 'Gadget X', price: 49.99, description: 'A premium gadget' },\n    4: { id: 4, name: 'Tool Y', price: 9.99, description: 'An essential tool' },\n    5: { id: 5, name: 'Device Z', price: 99.99, description: 'A smart device' }\n};\n\nconst productId = msg.req.params.id;\nconst product = products[productId];\n\nif (product) {\n    const body = msg.req.body;\n    const updatedProduct = {\n        ...product,\n        ...body,\n        id: product.id, // Ensure ID cannot be changed\n        updatedAt: new Date().toISOString()\n    };\n    \n    msg.res.json(updatedProduct);\n} else {\n    msg.res.status(404).json({\n        type: 'https://api.example.com/errors/not-found',\n        title: 'Product Not Found',\n        status: 404,\n        detail: `Product with ID ${productId} was not found`\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 420,
        "wires": [[]]
    },
    {
        "id": "delete-product-endpoint",
        "type": "apigw-endpoint",
        "z": "basic-crud-flow",
        "name": "Delete Product",
        "server": "crud-api-server",
        "path": "/products/:id",
        "method": "DELETE",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "",
        "paramsSchema": "{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\",\"pattern\":\"^[0-9]+$\"}},\"required\":[\"id\"]}",
        "responseSchemas": "{\"204\":{\"description\":\"Product successfully deleted\"},\"404\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"status\":{\"type\":\"integer\"},\"detail\":{\"type\":\"string\"}}}}",
        "successStatusCode": "204",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "delete",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 160,
        "y": 500,
        "wires": [["delete-product-handler"]]
    },
    {
        "id": "delete-product-handler",
        "type": "function",
        "z": "basic-crud-flow",
        "name": "Handle Delete Product",
        "func": "// Mock product database\nconst existingProducts = [1, 2, 3, 4, 5];\n\nconst productId = parseInt(msg.req.params.id);\n\nif (existingProducts.includes(productId)) {\n    // In a real application, this would delete from the database\n    msg.res.status(204).end();\n} else {\n    msg.res.status(404).json({\n        type: 'https://api.example.com/errors/not-found',\n        title: 'Product Not Found',\n        status: 404,\n        detail: `Product with ID ${productId} was not found`\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [[]]
    },
    {
        "id": "crud-comment-1",
        "type": "comment",
        "z": "basic-crud-flow",
        "name": "API Configuration & Server",
        "info": "The api-config node holds centralized settings:\n- Database connection (optional)\n- OAuth2/Keycloak settings (optional)\n- OPA policy settings (optional)\n- API versioning (/api/v1)\n- OpenAPI metadata\n- Logging configuration\n\nThe api-server node creates a Fastify HTTP server with:\n- OpenAPI specification endpoint (/openapi.json)\n- Swagger UI documentation (/docs)\n- Prometheus metrics (/metrics)",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "crud-comment-2",
        "type": "comment",
        "z": "basic-crud-flow",
        "name": "CRUD Endpoints",
        "info": "Each api-endpoint node defines:\n- HTTP path and method\n- Request validation schemas (body, query, params)\n- Response schemas (for OpenAPI documentation)\n- CRUD operation type (list, get, create, update, delete)\n- Error handling configuration\n\nThe endpoint nodes connect to function nodes that handle the actual business logic.",
        "x": 150,
        "y": 140,
        "wires": []
    }
]
