examples/lower-case-example.json
[
    {
        "id": "example-flow-1",
        "type": "tab",
        "label": "Lower Case Example",
        "disabled": false,
        "info": "Example flow demonstrating the lower-case node"
    },
    {
        "id": "inject-1",
        "type": "inject",
        "z": "example-flow-1",
        "name": "Inject Text",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "HELLO WORLD",
        "payloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            ["lower-case-1"]
        ]
    },
    {
        "id": "lower-case-1",
        "type": "lower-case",
        "z": "example-flow-1",
        "name": "To Lower Case",
        "x": 320,
        "y": 100,
        "wires": [
            ["debug-1"]
        ]
    },
    {
        "id": "debug-1",
        "type": "debug",
        "z": "example-flow-1",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 100,
        "wires": []
    }
]
