examples/oauth2-authenticated-api.json
[
    {
        "id": "oauth2-auth-flow",
        "type": "tab",
        "label": "OAuth2 Authenticated API Example",
        "disabled": false,
        "info": "## OAuth2 Authenticated API Example\n\nThis flow demonstrates OAuth2/OpenID Connect authentication using Keycloak.\n\n### Prerequisites\n\n1. **Keycloak Server**: You need a running Keycloak instance\n2. **Realm**: Create a realm (e.g., 'my-realm')\n3. **Client**: Create a confidential client with:\n   - Client ID: my-api-client\n   - Client Protocol: openid-connect\n   - Access Type: confidential\n   - Service Accounts Enabled: Yes (if using client credentials)\n4. **Roles**: Create realm roles:\n   - `user` - Basic access\n   - `admin` - Administrative access\n5. **User**: Create a test user with the 'user' role\n\n### Endpoints\n\n| Method | Path | Auth Required | Scopes |\n|--------|------|---------------|--------|\n| GET | /api/v1/public/health | No | - |\n| GET | /api/v1/user/profile | Yes | user |\n| GET | /api/v1/admin/users | Yes | admin |\n| POST | /api/v1/admin/users | Yes | admin AND user:write |\n\n### Testing with cURL\n\n```bash\n# Get access token from Keycloak\nTOKEN=$(curl -s -X POST \\\n  'http://localhost:8080/realms/my-realm/protocol/openid-connect/token' \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -d 'client_id=my-api-client' \\\n  -d 'client_secret=your-client-secret' \\\n  -d 'grant_type=password' \\\n  -d 'username=testuser' \\\n  -d 'password=testpassword' \\\n  | jq -r '.access_token')\n\n# Public endpoint (no auth required)\ncurl http://localhost:3001/api/v1/public/health\n\n# Protected endpoint (requires 'user' role)\ncurl -H \"Authorization: Bearer $TOKEN\" \\\n  http://localhost:3001/api/v1/user/profile\n\n# Admin endpoint (requires 'admin' role)\ncurl -H \"Authorization: Bearer $TOKEN\" \\\n  http://localhost:3001/api/v1/admin/users\n```\n\n### Token Validation\n\nThe api-server validates JWT tokens by:\n1. Fetching JWKS (JSON Web Key Set) from Keycloak\n2. Verifying token signature\n3. Checking token expiration and issuer\n4. Extracting roles/scopes from token claims\n5. Comparing against endpoint's required scopes"
    },
    {
        "id": "oauth2-api-config",
        "type": "api-config",
        "z": "",
        "name": "OAuth2 Protected API Config",
        "dbType": "none",
        "dbHost": "",
        "dbPort": "",
        "dbName": "",
        "dbEncrypt": false,
        "dbTrustServerCertificate": true,
        "dbPoolMin": 0,
        "dbPoolMax": 10,
        "dbPoolIdleTimeout": 30000,
        "dbPoolAcquireTimeout": 15000,
        "oauth2Enabled": true,
        "keycloakUrl": "http://localhost:8080",
        "keycloakRealm": "my-realm",
        "keycloakClientId": "my-api-client",
        "jwtValidateIssuer": true,
        "jwtIssuer": "",
        "jwtValidateAudience": false,
        "jwtAudience": "",
        "jwtClockTolerance": 30,
        "jwtAlgorithms": "RS256",
        "opaEnabled": false,
        "opaUrl": "",
        "opaPolicyPath": "",
        "opaCacheTTL": 60000,
        "opaTimeout": 5000,
        "opaRetryAttempts": 3,
        "tlsEnabled": false,
        "tlsRejectUnauthorized": true,
        "tlsMinVersion": "TLSv1.2",
        "tlsCertPath": "",
        "tlsKeyPath": "",
        "tlsCaPath": "",
        "apiVersion": "v1",
        "apiBasePath": "/api",
        "apiVersionInPath": true,
        "openapiTitle": "OAuth2 Protected API",
        "openapiDescription": "An API demonstrating OAuth2/OpenID Connect authentication with Keycloak. Endpoints require Bearer token authentication with specific roles/scopes.",
        "openapiContactName": "API Support",
        "openapiContactEmail": "support@example.com",
        "openapiContactUrl": "",
        "openapiLicenseName": "MIT",
        "openapiLicenseUrl": "",
        "openapiTermsOfService": "",
        "loggingEnabled": true,
        "logLevel": "info",
        "logOutput": "console",
        "logPrettyPrint": true,
        "logFilePath": "",
        "logRedactHeaders": true,
        "logIncludeUserContext": true
    },
    {
        "id": "oauth2-api-server",
        "type": "api-server",
        "z": "oauth2-auth-flow",
        "name": "OAuth2 API Server",
        "port": "3001",
        "host": "0.0.0.0",
        "config": "oauth2-api-config",
        "openapiEnabled": true,
        "openapiPath": "/openapi.json",
        "swaggerUiEnabled": true,
        "swaggerUiPath": "/docs",
        "metricsEnabled": true,
        "metricsPath": "/metrics",
        "x": 160,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "public-health-endpoint",
        "type": "api-endpoint",
        "z": "oauth2-auth-flow",
        "name": "Public Health Check",
        "server": "oauth2-api-server",
        "path": "/public/health",
        "method": "GET",
        "validationEnabled": false,
        "bodySchema": "",
        "querySchema": "",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"status\":{\"type\":\"string\",\"enum\":[\"healthy\",\"degraded\",\"unhealthy\"]},\"timestamp\":{\"type\":\"string\",\"format\":\"date-time\"},\"version\":{\"type\":\"string\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "none",
        "tableName": "",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 180,
        "y": 200,
        "wires": [["public-health-handler"]]
    },
    {
        "id": "public-health-handler",
        "type": "function",
        "z": "oauth2-auth-flow",
        "name": "Handle Health Check",
        "func": "// Public endpoint - no authentication required\n\nmsg.res.json({\n    status: 'healthy',\n    timestamp: new Date().toISOString(),\n    version: '1.0.0'\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "user-profile-endpoint",
        "type": "api-endpoint",
        "z": "oauth2-auth-flow",
        "name": "Get User Profile",
        "server": "oauth2-api-server",
        "path": "/user/profile",
        "method": "GET",
        "validationEnabled": false,
        "bodySchema": "",
        "querySchema": "",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"sub\":{\"type\":\"string\"},\"username\":{\"type\":\"string\"},\"email\":{\"type\":\"string\"},\"roles\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}}},\"401\":{\"type\":\"object\",\"properties\":{\"statusCode\":{\"type\":\"integer\"},\"error\":{\"type\":\"string\"},\"message\":{\"type\":\"string\"}}},\"403\":{\"type\":\"object\",\"properties\":{\"statusCode\":{\"type\":\"integer\"},\"error\":{\"type\":\"string\"},\"message\":{\"type\":\"string\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "user",
        "scopeOperator": "AND",
        "crudOperation": "none",
        "tableName": "",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 170,
        "y": 300,
        "wires": [["user-profile-handler"]]
    },
    {
        "id": "user-profile-handler",
        "type": "function",
        "z": "oauth2-auth-flow",
        "name": "Handle User Profile",
        "func": "// This endpoint requires the 'user' scope/role\n// The auth info is populated by the api-server's auth middleware\n\nconst auth = msg.req.auth;\n\nif (!auth || !auth.authenticated) {\n    // This shouldn't happen as the endpoint checks auth,\n    // but included for safety\n    msg.res.status(401).json({\n        statusCode: 401,\n        error: 'Unauthorized',\n        message: 'Authentication required'\n    });\n    return null;\n}\n\n// Return user profile from token claims\nmsg.res.json({\n    sub: auth.sub,\n    username: auth.preferredUsername || auth.payload.preferred_username,\n    email: auth.email || auth.payload.email,\n    roles: auth.roles || [],\n    scopes: auth.scopes || [],\n    // Additional claims from the token\n    name: auth.payload.name,\n    givenName: auth.payload.given_name,\n    familyName: auth.payload.family_name\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "admin-list-users-endpoint",
        "type": "api-endpoint",
        "z": "oauth2-auth-flow",
        "name": "Admin: List Users",
        "server": "oauth2-api-server",
        "path": "/admin/users",
        "method": "GET",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "{\"type\":\"object\",\"properties\":{\"page\":{\"type\":\"integer\",\"minimum\":1,\"default\":1},\"limit\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100,\"default\":20}}}",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"users\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\"},\"username\":{\"type\":\"string\"},\"email\":{\"type\":\"string\"},\"enabled\":{\"type\":\"boolean\"}}}},\"total\":{\"type\":\"integer\"},\"page\":{\"type\":\"integer\"},\"limit\":{\"type\":\"integer\"}}},\"401\":{\"type\":\"object\",\"properties\":{\"statusCode\":{\"type\":\"integer\"},\"error\":{\"type\":\"string\"},\"message\":{\"type\":\"string\"}}},\"403\":{\"type\":\"object\",\"properties\":{\"statusCode\":{\"type\":\"integer\"},\"error\":{\"type\":\"string\"},\"message\":{\"type\":\"string\"},\"details\":{\"type\":\"object\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "admin",
        "scopeOperator": "AND",
        "crudOperation": "list",
        "tableName": "users",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 20,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 170,
        "y": 400,
        "wires": [["admin-list-users-handler"]]
    },
    {
        "id": "admin-list-users-handler",
        "type": "function",
        "z": "oauth2-auth-flow",
        "name": "Handle List Users (Admin)",
        "func": "// This endpoint requires the 'admin' role\n// Only administrators can list all users\n\nconst query = msg.req.query || {};\nconst page = parseInt(query.page) || 1;\nconst limit = parseInt(query.limit) || 20;\n\n// Mock user data - in production, query from database\nconst allUsers = [\n    { id: 'u1', username: 'john.doe', email: 'john@example.com', enabled: true },\n    { id: 'u2', username: 'jane.smith', email: 'jane@example.com', enabled: true },\n    { id: 'u3', username: 'bob.wilson', email: 'bob@example.com', enabled: false },\n    { id: 'u4', username: 'alice.jones', email: 'alice@example.com', enabled: true },\n    { id: 'u5', username: 'charlie.brown', email: 'charlie@example.com', enabled: true }\n];\n\nconst offset = (page - 1) * limit;\nconst users = allUsers.slice(offset, offset + limit);\n\nmsg.res.json({\n    users: users,\n    total: allUsers.length,\n    page: page,\n    limit: limit\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "admin-create-user-endpoint",
        "type": "api-endpoint",
        "z": "oauth2-auth-flow",
        "name": "Admin: Create User",
        "server": "oauth2-api-server",
        "path": "/admin/users",
        "method": "POST",
        "validationEnabled": true,
        "bodySchema": "{\"type\":\"object\",\"properties\":{\"username\":{\"type\":\"string\",\"minLength\":3,\"maxLength\":50,\"pattern\":\"^[a-zA-Z0-9._-]+$\"},\"email\":{\"type\":\"string\",\"format\":\"email\"},\"password\":{\"type\":\"string\",\"minLength\":8},\"roles\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}},\"required\":[\"username\",\"email\",\"password\"]}",
        "querySchema": "",
        "paramsSchema": "",
        "responseSchemas": "{\"201\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\"},\"username\":{\"type\":\"string\"},\"email\":{\"type\":\"string\"},\"roles\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"createdAt\":{\"type\":\"string\",\"format\":\"date-time\"}}},\"400\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"status\":{\"type\":\"integer\"},\"errors\":{\"type\":\"array\"}}},\"401\":{\"type\":\"object\"},\"403\":{\"type\":\"object\"}}",
        "successStatusCode": "201",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "admin, user:write",
        "scopeOperator": "AND",
        "crudOperation": "create",
        "tableName": "users",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": true,
        "rateLimitRequests": 10,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "user",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 180,
        "y": 500,
        "wires": [["admin-create-user-handler"]]
    },
    {
        "id": "admin-create-user-handler",
        "type": "function",
        "z": "oauth2-auth-flow",
        "name": "Handle Create User (Admin)",
        "func": "// This endpoint requires BOTH 'admin' AND 'user:write' scopes\n// Demonstrates the AND scope operator\n\nconst body = msg.req.body;\n\n// In production, this would:\n// 1. Hash the password\n// 2. Store in database\n// 3. Possibly create user in Keycloak\n\nconst newUser = {\n    id: 'u' + Math.random().toString(36).substr(2, 9),\n    username: body.username,\n    email: body.email,\n    roles: body.roles || ['user'],\n    createdAt: new Date().toISOString(),\n    createdBy: msg.req.auth.sub  // Track who created this user\n};\n\nmsg.res.status(201).json(newUser);\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 500,
        "wires": [[]]
    },
    {
        "id": "oauth2-comment-1",
        "type": "comment",
        "z": "oauth2-auth-flow",
        "name": "OAuth2/Keycloak Configuration",
        "info": "Configure the api-config node with your Keycloak settings:\n\n1. **Keycloak URL**: Your Keycloak server (e.g., http://localhost:8080)\n2. **Realm**: The Keycloak realm name\n3. **Client ID**: The client application ID\n4. **Client Secret**: Stored securely in credentials\n\nThe api-server will:\n- Fetch JWKS from Keycloak automatically\n- Validate Bearer tokens on protected endpoints\n- Extract roles and scopes from token claims\n- Return 401 for missing/invalid tokens\n- Return 403 for insufficient permissions",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "oauth2-comment-2",
        "type": "comment",
        "z": "oauth2-auth-flow",
        "name": "Public Endpoints",
        "info": "Endpoints without requiredScopes are public.\nNo authentication is required to access them.",
        "x": 160,
        "y": 160,
        "wires": []
    },
    {
        "id": "oauth2-comment-3",
        "type": "comment",
        "z": "oauth2-auth-flow",
        "name": "Protected Endpoints (Single Scope)",
        "info": "The 'requiredScopes' field specifies which scopes/roles\nare needed to access the endpoint.\n\nWith scopeOperator: 'AND', all listed scopes are required.\nWith scopeOperator: 'OR', any one scope is sufficient.",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "oauth2-comment-4",
        "type": "comment",
        "z": "oauth2-auth-flow",
        "name": "Multiple Required Scopes",
        "info": "This endpoint requires BOTH 'admin' AND 'user:write' scopes.\nThe scopeOperator is set to 'AND'.\n\nCommonly used patterns:\n- Single role: 'user'\n- Multiple roles (AND): 'admin, user:write'\n- Multiple roles (OR): 'admin, moderator' with scopeOperator='OR'\n\nRate limiting is also enabled on this endpoint:\n- 10 requests per minute per user\n- Key type is 'user' (uses auth.sub from token)",
        "x": 190,
        "y": 460,
        "wires": []
    }
]
