examples/opa-protected-api.json
[
    {
        "id": "opa-protected-flow",
        "type": "tab",
        "label": "OPA Protected API Example",
        "disabled": false,
        "info": "## OPA (Open Policy Agent) Protected API Example\n\nThis flow demonstrates policy-based access control using Open Policy Agent.\n\n### What is OPA?\n\nOpen Policy Agent (OPA) is a general-purpose policy engine that enables fine-grained, context-aware access control. Unlike simple role-based access control, OPA policies can consider:\n\n- User attributes (role, department, location)\n- Resource attributes (owner, classification, type)\n- Environmental context (time of day, request origin)\n- Complex business rules\n\n### Prerequisites\n\n1. **OPA Server**: Running OPA instance (e.g., `docker run -p 8181:8181 openpolicyagent/opa run --server`)\n2. **Policy**: Load the example policy (see below)\n\n### Example OPA Policy (Rego)\n\n```rego\npackage api.authz\n\nimport future.keywords.if\nimport future.keywords.in\n\ndefault allow = false\n\n# Allow access to own resources\nallow if {\n    input.method == \"GET\"\n    input.path[0] == \"documents\"\n    input.resource.owner == input.user.sub\n}\n\n# Allow managers to access all department documents\nallow if {\n    input.method == \"GET\"\n    input.path[0] == \"documents\"\n    input.user.role == \"manager\"\n    input.resource.department == input.user.department\n}\n\n# Allow admins to access everything\nallow if {\n    input.user.role == \"admin\"\n}\n\n# Rate limit policy - returns remaining requests\nrate_limit = result if {\n    input.user.role == \"admin\"\n    result := {\"limit\": 1000, \"window\": \"1m\"}\n}\n\nrate_limit = result if {\n    input.user.role == \"user\"\n    result := {\"limit\": 100, \"window\": \"1m\"}\n}\n```\n\n### Endpoints\n\n| Method | Path | Description | OPA Policy |\n|--------|------|-------------|------------|\n| GET | /api/v1/documents | List documents | Filtered by policy |\n| GET | /api/v1/documents/:id | Get document | Owner/Manager/Admin |\n| POST | /api/v1/documents | Create document | Any authenticated |\n| DELETE | /api/v1/documents/:id | Delete document | Admin only |\n\n### Testing\n\n```bash\n# Assuming you have an access token\nTOKEN=\"your-bearer-token\"\n\n# List documents (returns only accessible ones)\ncurl -H \"Authorization: Bearer $TOKEN\" \\\n  http://localhost:3202/api/v1/documents\n\n# Get a specific document (policy checks ownership)\ncurl -H \"Authorization: Bearer $TOKEN\" \\\n  http://localhost:3202/api/v1/documents/doc-123\n```"
    },
    {
        "id": "opa-api-config",
        "type": "apigw-config",
        "z": "",
        "name": "OPA Protected API Config",
        "dbType": "none",
        "dbHost": "",
        "dbPort": "",
        "dbName": "",
        "dbEncrypt": false,
        "dbTrustServerCertificate": true,
        "dbPoolMin": 0,
        "dbPoolMax": 10,
        "dbPoolIdleTimeout": 30000,
        "dbPoolAcquireTimeout": 15000,
        "oauth2Enabled": true,
        "keycloakUrl": "http://localhost:8080",
        "keycloakRealm": "my-realm",
        "keycloakClientId": "my-api-client",
        "jwtValidateIssuer": true,
        "jwtIssuer": "",
        "jwtValidateAudience": false,
        "jwtAudience": "",
        "jwtClockTolerance": 30,
        "jwtAlgorithms": "RS256",
        "opaEnabled": true,
        "opaUrl": "http://localhost:8181",
        "opaPolicyPath": "/v1/data/api/authz",
        "opaCacheTTL": 60000,
        "opaTimeout": 5000,
        "opaRetryAttempts": 3,
        "tlsEnabled": false,
        "tlsRejectUnauthorized": true,
        "tlsMinVersion": "TLSv1.2",
        "tlsCertPath": "",
        "tlsKeyPath": "",
        "tlsCaPath": "",
        "apiVersion": "v1",
        "apiBasePath": "/api",
        "apiVersionInPath": true,
        "openapiTitle": "OPA Protected API",
        "openapiDescription": "An API demonstrating policy-based access control using Open Policy Agent (OPA). Access decisions are made by evaluating Rego policies against request context.",
        "openapiContactName": "API Support",
        "openapiContactEmail": "support@example.com",
        "openapiContactUrl": "",
        "openapiLicenseName": "MIT",
        "openapiLicenseUrl": "",
        "openapiTermsOfService": "",
        "loggingEnabled": true,
        "logLevel": "debug",
        "logOutput": "console",
        "logPrettyPrint": true,
        "logFilePath": "",
        "logRedactHeaders": true,
        "logIncludeUserContext": true
    },
    {
        "id": "opa-api-server",
        "type": "apigw-server",
        "z": "opa-protected-flow",
        "name": "OPA Protected API Server",
        "port": "3200",
        "host": "0.0.0.0",
        "config": "opa-api-config",
        "openapiEnabled": true,
        "openapiPath": "/openapi.json",
        "swaggerUiEnabled": true,
        "swaggerUiPath": "/docs",
        "metricsEnabled": true,
        "metricsPath": "/metrics",
        "x": 190,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "list-documents-endpoint",
        "type": "apigw-endpoint",
        "z": "opa-protected-flow",
        "name": "List Documents",
        "server": "opa-api-server",
        "path": "/documents",
        "method": "GET",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "{\"type\":\"object\",\"properties\":{\"department\":{\"type\":\"string\"},\"classification\":{\"type\":\"string\",\"enum\":[\"public\",\"internal\",\"confidential\",\"restricted\"]},\"limit\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100,\"default\":20}}}",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"documents\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"classification\":{\"type\":\"string\"},\"department\":{\"type\":\"string\"},\"owner\":{\"type\":\"string\"}}}},\"total\":{\"type\":\"integer\"},\"filteredByPolicy\":{\"type\":\"boolean\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "user",
        "scopeOperator": "AND",
        "crudOperation": "list",
        "tableName": "documents",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 20,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 160,
        "y": 200,
        "wires": [["list-documents-handler"]]
    },
    {
        "id": "list-documents-handler",
        "type": "function",
        "z": "opa-protected-flow",
        "name": "Handle List Documents with OPA Filter",
        "func": "// This handler demonstrates OPA-based document filtering\n// In production, the OPA policy would be evaluated via the OPA client\n\nconst auth = msg.req.auth || {};\nconst query = msg.req.query || {};\n\n// Mock document database with various classifications and owners\nconst allDocuments = [\n    { id: 'doc-1', title: 'Public Report Q1', classification: 'public', department: 'sales', owner: 'user-1' },\n    { id: 'doc-2', title: 'Internal Memo', classification: 'internal', department: 'hr', owner: 'user-2' },\n    { id: 'doc-3', title: 'Confidential Budget', classification: 'confidential', department: 'finance', owner: 'user-3' },\n    { id: 'doc-4', title: 'Project Plan', classification: 'internal', department: 'engineering', owner: auth.sub },\n    { id: 'doc-5', title: 'Restricted Personnel File', classification: 'restricted', department: 'hr', owner: 'user-2' },\n    { id: 'doc-6', title: 'My Personal Notes', classification: 'internal', department: 'engineering', owner: auth.sub }\n];\n\n// Simulate OPA policy evaluation\n// In production, this would call the OPA server\nfunction evaluateOpaPolicy(document, user) {\n    // Admin can see everything\n    if (user.roles && user.roles.includes('admin')) {\n        return true;\n    }\n    \n    // Users can see their own documents\n    if (document.owner === user.sub) {\n        return true;\n    }\n    \n    // Users can see public documents\n    if (document.classification === 'public') {\n        return true;\n    }\n    \n    // Managers can see internal documents in their department\n    if (user.roles && user.roles.includes('manager')) {\n        if (document.classification === 'internal' && \n            document.department === user.department) {\n            return true;\n        }\n    }\n    \n    // Department heads can see confidential in their department\n    if (user.roles && user.roles.includes('department_head')) {\n        if (['internal', 'confidential'].includes(document.classification) &&\n            document.department === user.department) {\n            return true;\n        }\n    }\n    \n    return false;\n}\n\n// Build user context for policy evaluation\nconst userContext = {\n    sub: auth.sub || 'anonymous',\n    roles: auth.roles || [],\n    department: auth.payload?.department || 'unknown'\n};\n\n// Filter documents based on OPA policy\nconst accessibleDocuments = allDocuments.filter(doc => \n    evaluateOpaPolicy(doc, userContext)\n);\n\n// Apply any query filters\nlet filteredDocuments = accessibleDocuments;\n\nif (query.department) {\n    filteredDocuments = filteredDocuments.filter(d => d.department === query.department);\n}\n\nif (query.classification) {\n    filteredDocuments = filteredDocuments.filter(d => d.classification === query.classification);\n}\n\nconst limit = parseInt(query.limit) || 20;\nfilteredDocuments = filteredDocuments.slice(0, limit);\n\nmsg.res.json({\n    documents: filteredDocuments,\n    total: accessibleDocuments.length,\n    filteredByPolicy: true,\n    userContext: {\n        sub: userContext.sub,\n        roles: userContext.roles,\n        department: userContext.department\n    }\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "get-document-endpoint",
        "type": "apigw-endpoint",
        "z": "opa-protected-flow",
        "name": "Get Document",
        "server": "opa-api-server",
        "path": "/documents/:id",
        "method": "GET",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "",
        "paramsSchema": "{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\",\"minLength\":1}},\"required\":[\"id\"]}",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"content\":{\"type\":\"string\"},\"classification\":{\"type\":\"string\"},\"department\":{\"type\":\"string\"},\"owner\":{\"type\":\"string\"},\"metadata\":{\"type\":\"object\"}}},\"403\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"status\":{\"type\":\"integer\"},\"detail\":{\"type\":\"string\"},\"policyDecision\":{\"type\":\"object\"}}},\"404\":{\"type\":\"object\"}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "user",
        "scopeOperator": "AND",
        "crudOperation": "get",
        "tableName": "documents",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": true,
        "cacheTTL": 30000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "authorization",
        "cachePrivate": true,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 160,
        "y": 300,
        "wires": [["get-document-handler"]]
    },
    {
        "id": "get-document-handler",
        "type": "function",
        "z": "opa-protected-flow",
        "name": "Handle Get Document with OPA Check",
        "func": "// This handler demonstrates OPA-based access control for a specific resource\n\nconst auth = msg.req.auth || {};\nconst documentId = msg.req.params.id;\n\n// Mock document database\nconst documents = {\n    'doc-1': {\n        id: 'doc-1',\n        title: 'Public Report Q1',\n        content: 'This is a public quarterly report...',\n        classification: 'public',\n        department: 'sales',\n        owner: 'user-1',\n        metadata: { createdAt: '2024-01-15', version: 1 }\n    },\n    'doc-2': {\n        id: 'doc-2',\n        title: 'Internal Memo',\n        content: 'Internal HR communication...',\n        classification: 'internal',\n        department: 'hr',\n        owner: 'user-2',\n        metadata: { createdAt: '2024-02-20', version: 2 }\n    },\n    'doc-3': {\n        id: 'doc-3',\n        title: 'Confidential Budget',\n        content: 'Budget allocations for next fiscal year...',\n        classification: 'confidential',\n        department: 'finance',\n        owner: 'user-3',\n        metadata: { createdAt: '2024-03-10', version: 1 }\n    }\n};\n\nconst document = documents[documentId];\n\nif (!document) {\n    msg.res.status(404).json({\n        type: 'https://api.example.com/errors/not-found',\n        title: 'Document Not Found',\n        status: 404,\n        detail: `Document with ID '${documentId}' was not found`\n    });\n    return null;\n}\n\n// Build OPA input for policy evaluation\nconst opaInput = {\n    method: 'GET',\n    path: ['documents', documentId],\n    user: {\n        sub: auth.sub || 'anonymous',\n        roles: auth.roles || [],\n        department: auth.payload?.department || 'unknown'\n    },\n    resource: {\n        id: document.id,\n        owner: document.owner,\n        classification: document.classification,\n        department: document.department\n    }\n};\n\n// Simulate OPA policy decision\n// In production, this would call: POST http://localhost:8181/v1/data/api/authz/allow\nfunction evaluatePolicy(input) {\n    const { user, resource } = input;\n    \n    // Admin has full access\n    if (user.roles.includes('admin')) {\n        return { allow: true, reason: 'admin_access' };\n    }\n    \n    // Owner has full access to their documents\n    if (resource.owner === user.sub) {\n        return { allow: true, reason: 'owner_access' };\n    }\n    \n    // Public documents are accessible to all authenticated users\n    if (resource.classification === 'public') {\n        return { allow: true, reason: 'public_document' };\n    }\n    \n    // Managers can access internal docs in their department\n    if (user.roles.includes('manager') &&\n        resource.classification === 'internal' &&\n        resource.department === user.department) {\n        return { allow: true, reason: 'manager_department_access' };\n    }\n    \n    // Department heads have broader access\n    if (user.roles.includes('department_head') &&\n        ['internal', 'confidential'].includes(resource.classification) &&\n        resource.department === user.department) {\n        return { allow: true, reason: 'department_head_access' };\n    }\n    \n    return {\n        allow: false,\n        reason: 'insufficient_permissions',\n        requiredConditions: [\n            'Be the document owner',\n            'Have admin role',\n            'Have manager role for department internal docs',\n            'Have department_head role for confidential docs'\n        ]\n    };\n}\n\nconst policyDecision = evaluatePolicy(opaInput);\n\nif (!policyDecision.allow) {\n    msg.res.status(403).json({\n        type: 'https://api.example.com/errors/forbidden',\n        title: 'Access Denied by Policy',\n        status: 403,\n        detail: 'You do not have permission to access this document',\n        policyDecision: {\n            allowed: false,\n            reason: policyDecision.reason,\n            requiredConditions: policyDecision.requiredConditions,\n            resourceClassification: document.classification,\n            resourceDepartment: document.department\n        }\n    });\n    return null;\n}\n\n// Access granted - return document\nmsg.res.json({\n    ...document,\n    _policyDecision: {\n        allowed: true,\n        reason: policyDecision.reason\n    }\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "create-document-endpoint",
        "type": "apigw-endpoint",
        "z": "opa-protected-flow",
        "name": "Create Document",
        "server": "opa-api-server",
        "path": "/documents",
        "method": "POST",
        "validationEnabled": true,
        "bodySchema": "{\"type\":\"object\",\"properties\":{\"title\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":200},\"content\":{\"type\":\"string\",\"maxLength\":50000},\"classification\":{\"type\":\"string\",\"enum\":[\"public\",\"internal\",\"confidential\",\"restricted\"],\"default\":\"internal\"},\"department\":{\"type\":\"string\"}},\"required\":[\"title\",\"content\"]}",
        "querySchema": "",
        "paramsSchema": "",
        "responseSchemas": "{\"201\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"classification\":{\"type\":\"string\"},\"department\":{\"type\":\"string\"},\"owner\":{\"type\":\"string\"},\"createdAt\":{\"type\":\"string\",\"format\":\"date-time\"}}},\"403\":{\"type\":\"object\"}}",
        "successStatusCode": "201",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "user",
        "scopeOperator": "AND",
        "crudOperation": "create",
        "tableName": "documents",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": true,
        "rateLimitRequests": 20,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "user",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 170,
        "y": 400,
        "wires": [["create-document-handler"]]
    },
    {
        "id": "create-document-handler",
        "type": "function",
        "z": "opa-protected-flow",
        "name": "Handle Create Document",
        "func": "// Creating a document - OPA can enforce classification rules\n\nconst auth = msg.req.auth || {};\nconst body = msg.req.body;\n\n// Simulate OPA policy check for document creation\n// Policy might enforce:\n// - Users can only create documents up to their clearance level\n// - Users can only create documents in their department\n// - Restricted classification requires special approval\n\nconst userClearanceLevel = {\n    'user': ['public', 'internal'],\n    'manager': ['public', 'internal', 'confidential'],\n    'admin': ['public', 'internal', 'confidential', 'restricted']\n};\n\nconst highestRole = auth.roles?.includes('admin') ? 'admin' :\n                    auth.roles?.includes('manager') ? 'manager' : 'user';\n\nconst allowedClassifications = userClearanceLevel[highestRole];\nconst requestedClassification = body.classification || 'internal';\n\nif (!allowedClassifications.includes(requestedClassification)) {\n    msg.res.status(403).json({\n        type: 'https://api.example.com/errors/forbidden',\n        title: 'Classification Not Allowed',\n        status: 403,\n        detail: `You are not authorized to create documents with '${requestedClassification}' classification`,\n        policyDecision: {\n            allowed: false,\n            reason: 'insufficient_clearance',\n            userClearance: highestRole,\n            allowedClassifications: allowedClassifications,\n            requestedClassification: requestedClassification\n        }\n    });\n    return null;\n}\n\n// Create the document\nconst newDocument = {\n    id: 'doc-' + Math.random().toString(36).substr(2, 9),\n    title: body.title,\n    content: body.content,\n    classification: requestedClassification,\n    department: body.department || auth.payload?.department || 'general',\n    owner: auth.sub,\n    createdAt: new Date().toISOString(),\n    metadata: {\n        version: 1,\n        createdBy: auth.preferredUsername || auth.sub\n    }\n};\n\nmsg.res.status(201).json(newDocument);\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "delete-document-endpoint",
        "type": "apigw-endpoint",
        "z": "opa-protected-flow",
        "name": "Delete Document (Admin Only)",
        "server": "opa-api-server",
        "path": "/documents/:id",
        "method": "DELETE",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "",
        "paramsSchema": "{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\",\"minLength\":1}},\"required\":[\"id\"]}",
        "responseSchemas": "{\"204\":{\"description\":\"Document successfully deleted\"},\"403\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"status\":{\"type\":\"integer\"},\"detail\":{\"type\":\"string\"}}},\"404\":{\"type\":\"object\"}}",
        "successStatusCode": "204",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "admin",
        "scopeOperator": "AND",
        "crudOperation": "delete",
        "tableName": "documents",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 210,
        "y": 500,
        "wires": [["delete-document-handler"]]
    },
    {
        "id": "delete-document-handler",
        "type": "function",
        "z": "opa-protected-flow",
        "name": "Handle Delete Document",
        "func": "// Delete requires admin role (enforced by endpoint scope)\n// OPA could add additional checks like:\n// - Can't delete documents with active references\n// - Audit logging requirements\n// - Retention policy compliance\n\nconst documentId = msg.req.params.id;\n\n// Mock: check if document exists\nconst existingDocIds = ['doc-1', 'doc-2', 'doc-3'];\n\nif (!existingDocIds.includes(documentId)) {\n    msg.res.status(404).json({\n        type: 'https://api.example.com/errors/not-found',\n        title: 'Document Not Found',\n        status: 404,\n        detail: `Document with ID '${documentId}' was not found`\n    });\n    return null;\n}\n\n// In production, this would:\n// 1. Check OPA for additional deletion policies\n// 2. Soft delete or archive the document\n// 3. Log the deletion for audit\n// 4. Notify relevant stakeholders\n\nconst auth = msg.req.auth || {};\nnode.log(`Document ${documentId} deleted by admin ${auth.sub}`);\n\nmsg.res.status(204).end();\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 500,
        "wires": [[]]
    },
    {
        "id": "opa-comment-1",
        "type": "comment",
        "z": "opa-protected-flow",
        "name": "OPA Configuration",
        "info": "Open Policy Agent (OPA) is configured in api-config:\n\n- **OPA URL**: http://localhost:8181\n- **Policy Path**: /v1/data/api/authz\n- **Cache TTL**: 60 seconds (policy decisions cached)\n- **Timeout**: 5 seconds\n- **Retry Attempts**: 3\n\nOPA policies are written in Rego language and can implement:\n- Attribute-Based Access Control (ABAC)\n- Role-Based Access Control (RBAC)\n- Time-based access rules\n- Resource-based permissions\n- Custom business logic",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "opa-comment-2",
        "type": "comment",
        "z": "opa-protected-flow",
        "name": "Policy-Filtered List",
        "info": "This endpoint demonstrates filtering results based on OPA policy.\n\nThe handler simulates OPA policy evaluation for each document\nto determine which ones the user can see.\n\nIn production with the OPA client:\n1. Fetch all documents from database\n2. For each document, call OPA with the policy input\n3. Filter to only documents where allow=true\n4. Return filtered results",
        "x": 170,
        "y": 160,
        "wires": []
    },
    {
        "id": "opa-comment-3",
        "type": "comment",
        "z": "opa-protected-flow",
        "name": "Per-Resource Policy Check",
        "info": "This endpoint demonstrates OPA access control for a specific resource.\n\nThe policy input includes:\n- method: HTTP method\n- path: Request path segments\n- user: User attributes (sub, roles, department)\n- resource: Resource attributes (owner, classification, department)\n\nOPA returns a decision allowing or denying access based on\nthe combination of user attributes and resource attributes.\n\nCaching is enabled with Vary: authorization header to ensure\neach user gets their own cached response.",
        "x": 210,
        "y": 260,
        "wires": []
    },
    {
        "id": "opa-comment-4",
        "type": "comment",
        "z": "opa-protected-flow",
        "name": "Policy-Enforced Creation",
        "info": "Document creation can be controlled by OPA policy:\n\n- Classification level based on user clearance\n- Department restrictions\n- Approval workflows for sensitive documents\n- Quota enforcement\n\nRate limiting is enabled:\n- 20 document creations per minute per user",
        "x": 200,
        "y": 360,
        "wires": []
    },
    {
        "id": "opa-comment-5",
        "type": "comment",
        "z": "opa-protected-flow",
        "name": "Admin-Only Operations",
        "info": "Deletion requires 'admin' scope.\n\nOPA could add additional checks:\n- Document retention compliance\n- Reference integrity (can't delete if referenced)\n- Audit requirements satisfied\n- Approval workflow for certain document types",
        "x": 190,
        "y": 460,
        "wires": []
    }
]
