examples/pagination-filtering-api.json
[
    {
        "id": "pagination-filtering-flow",
        "type": "tab",
        "label": "Pagination & Filtering Example",
        "disabled": false,
        "info": "## Pagination and Filtering Example\n\nThis flow demonstrates advanced list endpoint features including pagination, filtering, and sorting.\n\n### Pagination Styles\n\nThe API gateway supports two pagination styles:\n\n1. **Offset-based** (default): Uses `page` and `limit` parameters\n   - Good for: Random access, known total count\n   - Drawback: Can miss/duplicate items if data changes\n\n2. **Cursor-based**: Uses `cursor` and `limit` parameters\n   - Good for: Large datasets, real-time data, infinite scroll\n   - Drawback: No random page access\n\n### Endpoints\n\n| Method | Path | Description | Features |\n|--------|------|-------------|----------|\n| GET | /api/v1/orders | List orders | Offset pagination, filtering, sorting |\n| GET | /api/v1/events | List events | Cursor pagination |\n| GET | /api/v1/products | List products | Filtering, sorting, caching |\n\n### Query Parameters\n\n#### Pagination\n```\n# Offset-based\n?page=2&limit=20\n?offset=40&limit=20\n\n# Cursor-based\n?cursor=eyJpZCI6MTAwfQ&limit=20\n```\n\n#### Filtering\n```\n# Single value\n?status=completed\n?category=electronics\n\n# Multiple values (OR within field)\n?status=pending,processing\n\n# Range (if supported)\n?minPrice=100&maxPrice=500\n?createdAfter=2024-01-01\n```\n\n#### Sorting\n```\n# Single field\n?sort=createdAt\n?sort=-createdAt (descending)\n\n# Multiple fields\n?sort=status,-createdAt\n```\n\n### Testing\n\n```bash\n# List orders with pagination\ncurl 'http://localhost:3003/api/v1/orders?page=1&limit=5'\n\n# Filter orders by status\ncurl 'http://localhost:3003/api/v1/orders?status=completed'\n\n# Sort orders by date descending\ncurl 'http://localhost:3003/api/v1/orders?sort=-createdAt'\n\n# Combined: filter, sort, paginate\ncurl 'http://localhost:3003/api/v1/orders?status=pending&sort=-total&page=1&limit=10'\n\n# Cursor-based pagination for events\ncurl 'http://localhost:3003/api/v1/events?limit=10'\n# Then use the 'nextCursor' from response:\ncurl 'http://localhost:3003/api/v1/events?cursor=<nextCursor>&limit=10'\n```"
    },
    {
        "id": "pagination-api-config",
        "type": "api-config",
        "z": "",
        "name": "Pagination Demo Config",
        "dbType": "none",
        "dbHost": "",
        "dbPort": "",
        "dbName": "",
        "dbEncrypt": false,
        "dbTrustServerCertificate": true,
        "dbPoolMin": 0,
        "dbPoolMax": 10,
        "dbPoolIdleTimeout": 30000,
        "dbPoolAcquireTimeout": 15000,
        "oauth2Enabled": false,
        "keycloakUrl": "",
        "keycloakRealm": "",
        "keycloakClientId": "",
        "jwtValidateIssuer": true,
        "jwtIssuer": "",
        "jwtValidateAudience": false,
        "jwtAudience": "",
        "jwtClockTolerance": 0,
        "jwtAlgorithms": "RS256",
        "opaEnabled": false,
        "opaUrl": "",
        "opaPolicyPath": "",
        "opaCacheTTL": 60000,
        "opaTimeout": 5000,
        "opaRetryAttempts": 3,
        "tlsEnabled": false,
        "tlsRejectUnauthorized": true,
        "tlsMinVersion": "TLSv1.2",
        "tlsCertPath": "",
        "tlsKeyPath": "",
        "tlsCaPath": "",
        "apiVersion": "v1",
        "apiBasePath": "/api",
        "apiVersionInPath": true,
        "openapiTitle": "Pagination & Filtering Demo API",
        "openapiDescription": "Demonstrates pagination (offset and cursor-based), filtering, and sorting capabilities of the API Gateway.",
        "openapiContactName": "",
        "openapiContactEmail": "",
        "openapiContactUrl": "",
        "openapiLicenseName": "MIT",
        "openapiLicenseUrl": "",
        "openapiTermsOfService": "",
        "loggingEnabled": true,
        "logLevel": "info",
        "logOutput": "console",
        "logPrettyPrint": true,
        "logFilePath": "",
        "logRedactHeaders": true,
        "logIncludeUserContext": true
    },
    {
        "id": "pagination-api-server",
        "type": "api-server",
        "z": "pagination-filtering-flow",
        "name": "Pagination Demo Server",
        "port": "3003",
        "host": "0.0.0.0",
        "config": "pagination-api-config",
        "openapiEnabled": true,
        "openapiPath": "/openapi.json",
        "swaggerUiEnabled": true,
        "swaggerUiPath": "/docs",
        "metricsEnabled": true,
        "metricsPath": "/metrics",
        "x": 190,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "list-orders-endpoint",
        "type": "api-endpoint",
        "z": "pagination-filtering-flow",
        "name": "List Orders (Offset Pagination)",
        "server": "pagination-api-server",
        "path": "/orders",
        "method": "GET",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "{\"type\":\"object\",\"properties\":{\"page\":{\"type\":\"integer\",\"minimum\":1,\"default\":1},\"limit\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100,\"default\":20},\"status\":{\"type\":\"string\"},\"customerId\":{\"type\":\"string\"},\"minTotal\":{\"type\":\"number\",\"minimum\":0},\"maxTotal\":{\"type\":\"number\"},\"sort\":{\"type\":\"string\"}}}",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"data\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\"},\"customerId\":{\"type\":\"string\"},\"status\":{\"type\":\"string\"},\"total\":{\"type\":\"number\"},\"createdAt\":{\"type\":\"string\"}}}},\"pagination\":{\"type\":\"object\",\"properties\":{\"page\":{\"type\":\"integer\"},\"limit\":{\"type\":\"integer\"},\"total\":{\"type\":\"integer\"},\"totalPages\":{\"type\":\"integer\"},\"hasNext\":{\"type\":\"boolean\"},\"hasPrev\":{\"type\":\"boolean\"}}},\"filters\":{\"type\":\"object\"},\"sorting\":{\"type\":\"object\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "list",
        "tableName": "orders",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": true,
        "defaultPageSize": 20,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": true,
        "filterableFields": "status, customerId, createdAt",
        "sortingEnabled": true,
        "sortableFields": "createdAt, total, status",
        "defaultSortField": "createdAt",
        "defaultSortDirection": "desc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 220,
        "y": 200,
        "wires": [["list-orders-handler"]]
    },
    {
        "id": "list-orders-handler",
        "type": "function",
        "z": "pagination-filtering-flow",
        "name": "Handle List Orders",
        "func": "// This handler uses the pagination, filtering, and sorting\n// context provided by the api-endpoint node\n\nconst query = msg.req.query || {};\n\n// Mock order data\nconst allOrders = [\n    { id: 'ord-001', customerId: 'cust-1', status: 'completed', total: 150.00, createdAt: '2024-03-15T10:30:00Z' },\n    { id: 'ord-002', customerId: 'cust-2', status: 'pending', total: 89.99, createdAt: '2024-03-15T11:45:00Z' },\n    { id: 'ord-003', customerId: 'cust-1', status: 'processing', total: 299.99, createdAt: '2024-03-14T09:00:00Z' },\n    { id: 'ord-004', customerId: 'cust-3', status: 'completed', total: 49.99, createdAt: '2024-03-14T14:20:00Z' },\n    { id: 'ord-005', customerId: 'cust-2', status: 'shipped', total: 199.00, createdAt: '2024-03-13T16:00:00Z' },\n    { id: 'ord-006', customerId: 'cust-4', status: 'pending', total: 75.50, createdAt: '2024-03-13T08:30:00Z' },\n    { id: 'ord-007', customerId: 'cust-1', status: 'completed', total: 450.00, createdAt: '2024-03-12T12:00:00Z' },\n    { id: 'ord-008', customerId: 'cust-5', status: 'cancelled', total: 125.00, createdAt: '2024-03-12T10:15:00Z' },\n    { id: 'ord-009', customerId: 'cust-3', status: 'processing', total: 88.88, createdAt: '2024-03-11T15:45:00Z' },\n    { id: 'ord-010', customerId: 'cust-2', status: 'completed', total: 567.00, createdAt: '2024-03-11T09:30:00Z' },\n    { id: 'ord-011', customerId: 'cust-4', status: 'shipped', total: 234.56, createdAt: '2024-03-10T14:00:00Z' },\n    { id: 'ord-012', customerId: 'cust-1', status: 'pending', total: 99.99, createdAt: '2024-03-10T11:20:00Z' }\n];\n\nlet filteredOrders = [...allOrders];\n\n// Apply filters from msg.filtering (populated by api-endpoint)\nconst filtering = msg.filtering || {};\nconst appliedFilters = {};\n\n// Manual filtering (in production, use generated WHERE clause with database)\nif (query.status) {\n    const statuses = query.status.split(',');\n    filteredOrders = filteredOrders.filter(o => statuses.includes(o.status));\n    appliedFilters.status = statuses;\n}\n\nif (query.customerId) {\n    filteredOrders = filteredOrders.filter(o => o.customerId === query.customerId);\n    appliedFilters.customerId = query.customerId;\n}\n\nif (query.minTotal) {\n    const minTotal = parseFloat(query.minTotal);\n    filteredOrders = filteredOrders.filter(o => o.total >= minTotal);\n    appliedFilters.minTotal = minTotal;\n}\n\nif (query.maxTotal) {\n    const maxTotal = parseFloat(query.maxTotal);\n    filteredOrders = filteredOrders.filter(o => o.total <= maxTotal);\n    appliedFilters.maxTotal = maxTotal;\n}\n\n// Apply sorting from msg.sorting (populated by api-endpoint)\nconst sorting = msg.sorting || {};\nconst sortField = query.sort ? query.sort.replace(/^-/, '') : 'createdAt';\nconst sortDesc = query.sort ? query.sort.startsWith('-') : true;\n\nfilteredOrders.sort((a, b) => {\n    let aVal = a[sortField];\n    let bVal = b[sortField];\n    \n    if (typeof aVal === 'string') {\n        aVal = aVal.toLowerCase();\n        bVal = bVal.toLowerCase();\n    }\n    \n    if (aVal < bVal) return sortDesc ? 1 : -1;\n    if (aVal > bVal) return sortDesc ? -1 : 1;\n    return 0;\n});\n\n// Apply pagination from msg.pagination (populated by api-endpoint)\nconst pagination = msg.pagination || {};\nconst page = parseInt(query.page) || 1;\nconst limit = parseInt(query.limit) || 20;\nconst offset = (page - 1) * limit;\n\nconst total = filteredOrders.length;\nconst totalPages = Math.ceil(total / limit);\nconst paginatedOrders = filteredOrders.slice(offset, offset + limit);\n\nmsg.res.json({\n    data: paginatedOrders,\n    pagination: {\n        page: page,\n        limit: limit,\n        total: total,\n        totalPages: totalPages,\n        hasNext: page < totalPages,\n        hasPrev: page > 1,\n        // Links for convenience\n        nextPage: page < totalPages ? page + 1 : null,\n        prevPage: page > 1 ? page - 1 : null\n    },\n    filters: appliedFilters,\n    sorting: {\n        field: sortField,\n        direction: sortDesc ? 'desc' : 'asc'\n    },\n    // Include SQL clauses for reference (useful when debugging database queries)\n    _debug: {\n        whereClause: filtering.whereClause || null,\n        orderByClause: sorting.orderByClause || null\n    }\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "list-events-endpoint",
        "type": "api-endpoint",
        "z": "pagination-filtering-flow",
        "name": "List Events (Cursor Pagination)",
        "server": "pagination-api-server",
        "path": "/events",
        "method": "GET",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "{\"type\":\"object\",\"properties\":{\"cursor\":{\"type\":\"string\"},\"limit\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100,\"default\":20},\"type\":{\"type\":\"string\"}}}",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"data\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\"},\"type\":{\"type\":\"string\"},\"payload\":{\"type\":\"object\"},\"timestamp\":{\"type\":\"string\"}}}},\"pagination\":{\"type\":\"object\",\"properties\":{\"cursor\":{\"type\":\"string\"},\"nextCursor\":{\"type\":\"string\"},\"hasMore\":{\"type\":\"boolean\"},\"limit\":{\"type\":\"integer\"}}}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "list",
        "tableName": "events",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": true,
        "defaultPageSize": 20,
        "maxPageSize": 100,
        "paginationStyle": "cursor",
        "filteringEnabled": true,
        "filterableFields": "type",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 230,
        "y": 320,
        "wires": [["list-events-handler"]]
    },
    {
        "id": "list-events-handler",
        "type": "function",
        "z": "pagination-filtering-flow",
        "name": "Handle List Events (Cursor)",
        "func": "// Cursor-based pagination is ideal for:\n// - Real-time data streams\n// - Large datasets\n// - Infinite scroll UIs\n// - Avoiding duplicate/missing items when data changes\n\nconst query = msg.req.query || {};\n\n// Mock event stream (sorted by timestamp descending)\nconst allEvents = [];\nfor (let i = 1; i <= 50; i++) {\n    const date = new Date();\n    date.setMinutes(date.getMinutes() - i * 5);\n    allEvents.push({\n        id: `evt-${String(i).padStart(3, '0')}`,\n        type: ['user.login', 'user.logout', 'order.created', 'payment.processed', 'notification.sent'][i % 5],\n        payload: { index: i },\n        timestamp: date.toISOString()\n    });\n}\n\nlet filteredEvents = [...allEvents];\n\n// Apply type filter\nif (query.type) {\n    filteredEvents = filteredEvents.filter(e => e.type === query.type);\n}\n\n// Decode cursor (in production, this would be a secure, opaque token)\nlet startIndex = 0;\nif (query.cursor) {\n    try {\n        const decoded = JSON.parse(Buffer.from(query.cursor, 'base64').toString());\n        startIndex = decoded.index || 0;\n    } catch (e) {\n        // Invalid cursor, start from beginning\n        startIndex = 0;\n    }\n}\n\nconst limit = parseInt(query.limit) || 20;\n\n// Get page of results\nconst pageEvents = filteredEvents.slice(startIndex, startIndex + limit);\nconst hasMore = startIndex + limit < filteredEvents.length;\n\n// Generate next cursor\nlet nextCursor = null;\nif (hasMore) {\n    nextCursor = Buffer.from(JSON.stringify({\n        index: startIndex + limit,\n        // Include a timestamp for cursor expiration in production\n        ts: Date.now()\n    })).toString('base64');\n}\n\nmsg.res.json({\n    data: pageEvents,\n    pagination: {\n        cursor: query.cursor || null,\n        nextCursor: nextCursor,\n        hasMore: hasMore,\n        limit: limit,\n        // For cursor pagination, we typically don't expose total count\n        // as it can be expensive to compute\n        count: pageEvents.length\n    }\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "list-products-cached-endpoint",
        "type": "api-endpoint",
        "z": "pagination-filtering-flow",
        "name": "List Products (Cached + Filtered)",
        "server": "pagination-api-server",
        "path": "/products",
        "method": "GET",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "{\"type\":\"object\",\"properties\":{\"category\":{\"type\":\"string\"},\"inStock\":{\"type\":\"boolean\"},\"minPrice\":{\"type\":\"number\"},\"maxPrice\":{\"type\":\"number\"},\"sort\":{\"type\":\"string\"},\"page\":{\"type\":\"integer\",\"minimum\":1,\"default\":1},\"limit\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":50,\"default\":10}}}",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"products\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\"},\"name\":{\"type\":\"string\"},\"category\":{\"type\":\"string\"},\"price\":{\"type\":\"number\"},\"inStock\":{\"type\":\"boolean\"}}}},\"meta\":{\"type\":\"object\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "list",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": true,
        "defaultPageSize": 10,
        "maxPageSize": 50,
        "paginationStyle": "offset",
        "filteringEnabled": true,
        "filterableFields": "category, inStock, price",
        "sortingEnabled": true,
        "sortableFields": "name, price, category",
        "defaultSortField": "name",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": true,
        "rateLimitRequests": 60,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": true,
        "cacheTTL": 30000,
        "cacheMaxSize": 200,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 240,
        "y": 440,
        "wires": [["list-products-cached-handler"]]
    },
    {
        "id": "list-products-cached-handler",
        "type": "function",
        "z": "pagination-filtering-flow",
        "name": "Handle List Products",
        "func": "// This endpoint demonstrates caching combined with filtering\n// Cache key includes the full query string, so different filters = different cache entries\n\nconst query = msg.req.query || {};\n\n// Check if this was a cache hit\nif (msg.cache && msg.cache.hit) {\n    // Response was already sent from cache\n    return null;\n}\n\n// Mock product catalog\nconst allProducts = [\n    { id: 'p1', name: 'Laptop Pro', category: 'electronics', price: 1299.99, inStock: true },\n    { id: 'p2', name: 'Wireless Mouse', category: 'electronics', price: 49.99, inStock: true },\n    { id: 'p3', name: 'USB-C Hub', category: 'electronics', price: 79.99, inStock: false },\n    { id: 'p4', name: 'Standing Desk', category: 'furniture', price: 599.00, inStock: true },\n    { id: 'p5', name: 'Office Chair', category: 'furniture', price: 349.00, inStock: true },\n    { id: 'p6', name: 'Desk Lamp', category: 'furniture', price: 89.99, inStock: false },\n    { id: 'p7', name: 'Notebook Set', category: 'office', price: 24.99, inStock: true },\n    { id: 'p8', name: 'Pen Collection', category: 'office', price: 39.99, inStock: true },\n    { id: 'p9', name: 'Mechanical Keyboard', category: 'electronics', price: 159.99, inStock: true },\n    { id: 'p10', name: 'Monitor 27\"', category: 'electronics', price: 449.99, inStock: true },\n    { id: 'p11', name: 'Webcam HD', category: 'electronics', price: 99.99, inStock: false },\n    { id: 'p12', name: 'File Cabinet', category: 'furniture', price: 189.00, inStock: true }\n];\n\nlet filtered = [...allProducts];\n\n// Apply filters\nif (query.category) {\n    filtered = filtered.filter(p => p.category === query.category);\n}\n\nif (query.inStock !== undefined) {\n    const inStock = query.inStock === 'true' || query.inStock === true;\n    filtered = filtered.filter(p => p.inStock === inStock);\n}\n\nif (query.minPrice) {\n    filtered = filtered.filter(p => p.price >= parseFloat(query.minPrice));\n}\n\nif (query.maxPrice) {\n    filtered = filtered.filter(p => p.price <= parseFloat(query.maxPrice));\n}\n\n// Apply sorting\nconst sortField = query.sort ? query.sort.replace(/^-/, '') : 'name';\nconst sortDesc = query.sort ? query.sort.startsWith('-') : false;\n\nfiltered.sort((a, b) => {\n    let aVal = a[sortField];\n    let bVal = b[sortField];\n    if (typeof aVal === 'string') {\n        aVal = aVal.toLowerCase();\n        bVal = bVal.toLowerCase();\n    }\n    if (aVal < bVal) return sortDesc ? 1 : -1;\n    if (aVal > bVal) return sortDesc ? -1 : 1;\n    return 0;\n});\n\n// Apply pagination\nconst page = parseInt(query.page) || 1;\nconst limit = parseInt(query.limit) || 10;\nconst offset = (page - 1) * limit;\nconst paginated = filtered.slice(offset, offset + limit);\n\nconst response = {\n    products: paginated,\n    meta: {\n        pagination: {\n            page,\n            limit,\n            total: filtered.length,\n            totalPages: Math.ceil(filtered.length / limit)\n        },\n        cache: {\n            cached: false,\n            ttl: 30000,\n            key: msg.cache?.key || null\n        }\n    }\n};\n\nmsg.res.json(response);\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "pagination-comment-1",
        "type": "comment",
        "z": "pagination-filtering-flow",
        "name": "Offset-Based Pagination",
        "info": "Offset pagination uses page number and limit:\n\n**Query Parameters:**\n- `page` - Page number (1-indexed)\n- `limit` - Items per page\n\n**Response includes:**\n- `page` - Current page\n- `limit` - Items per page\n- `total` - Total item count\n- `totalPages` - Total number of pages\n- `hasNext` / `hasPrev` - Navigation flags\n\n**Features enabled:**\n- Pagination (offset style)\n- Filtering (status, customerId, minTotal, maxTotal)\n- Sorting (createdAt, total, status)\n\nThe api-endpoint populates msg.pagination, msg.filtering,\nand msg.sorting with parsed parameters and SQL clauses.",
        "x": 200,
        "y": 160,
        "wires": []
    },
    {
        "id": "pagination-comment-2",
        "type": "comment",
        "z": "pagination-filtering-flow",
        "name": "Cursor-Based Pagination",
        "info": "Cursor pagination is better for large/real-time datasets:\n\n**Query Parameters:**\n- `cursor` - Opaque cursor from previous response\n- `limit` - Items per page\n\n**Response includes:**\n- `cursor` - Current cursor\n- `nextCursor` - Cursor for next page (null if no more)\n- `hasMore` - Whether more items exist\n\n**Advantages:**\n- Consistent results even when data changes\n- Better for infinite scroll UIs\n- More efficient for large datasets\n\n**Disadvantages:**\n- Can't jump to arbitrary pages\n- No total count (expensive to compute)",
        "x": 200,
        "y": 280,
        "wires": []
    },
    {
        "id": "pagination-comment-3",
        "type": "comment",
        "z": "pagination-filtering-flow",
        "name": "Cached + Rate Limited",
        "info": "This endpoint combines multiple features:\n\n**Caching:**\n- 30 second TTL\n- Full URL as cache key (includes query params)\n- X-Cache: HIT/MISS header shows cache status\n- Different filter combinations = different cache entries\n\n**Rate Limiting:**\n- 60 requests per minute per IP\n- Prevents abuse of the endpoint\n- X-RateLimit-* headers show status\n\n**Filtering:**\n- category, inStock, price range\n\n**Sorting:**\n- name, price, category\n- Prefix with - for descending (e.g., -price)",
        "x": 200,
        "y": 400,
        "wires": []
    },
    {
        "id": "pagination-comment-server",
        "type": "comment",
        "z": "pagination-filtering-flow",
        "name": "API Server Configuration",
        "info": "Server runs on port 3003 with:\n- OpenAPI spec at /openapi.json\n- Swagger UI at /docs\n- Prometheus metrics at /metrics\n\nAll endpoints demonstrate different pagination strategies\nand combinations of features.",
        "x": 200,
        "y": 40,
        "wires": []
    }
]
