tests/e2e/.nodered/flows.json
[
    {
        "id": "full-stack-flow",
        "type": "tab",
        "label": "Full Stack API Example",
        "disabled": false,
        "info": "## Full Stack API Example\n\nThis flow demonstrates all security and data layers working together:\n- **TLS/HTTPS**: Secure transport on port 3443\n- **OAuth2**: Client credentials authentication via Keycloak\n- **OPA**: Policy-based authorization\n- **SQL Server**: Database persistence for CRUD operations\n\n### How It Works\n\nAll layers are truly integrated:\n1. Request arrives over HTTPS (TLS)\n2. JWT token validated against Keycloak JWKS\n3. OPA policy checked for authorization\n4. SQL Server query executed automatically\n\n### Endpoints\n\n| Method | Path | Auth | Permission | SQL |\n|--------|------|------|------------|-----|\n| GET | /api/v1/public/health | None | None | None |\n| GET | /api/v1/products | Required | user | SELECT |\n| GET | /api/v1/products/:id | Required | user | SELECT WHERE |\n| POST | /api/v1/products | Required | admin | INSERT |\n| PUT | /api/v1/products/:id | Required | admin | UPDATE |\n| DELETE | /api/v1/products/:id | Required | admin | DELETE |\n\n### Service Accounts\n\n- `my-api-client` (user role): api:read, api:write\n- `my-admin-service` (admin role): api:read, api:write, api:delete, api:admin\n\n### Testing\n\n```bash\n# Get token for user service\nTOKEN=$(curl -s -X POST \\\n  'http://localhost:8080/realms/my-realm/protocol/openid-connect/token' \\\n  -d 'client_id=my-api-client' \\\n  -d 'client_secret=my-client-secret' \\\n  -d 'grant_type=client_credentials' \\\n  | jq -r '.access_token')\n\n# List products (requires api:read) - queries SQL Server\ncurl -k -H \"Authorization: Bearer $TOKEN\" \\\n  https://localhost:3443/api/v1/products\n```"
    },
    {
        "id": "full-stack-api-config",
        "type": "api-config",
        "z": "",
        "name": "Full Stack API Config",
        "dbType": "mssql",
        "dbHost": "localhost",
        "dbPort": "1433",
        "dbName": "testdb",
        "dbUser": "sa",
        "dbEncrypt": false,
        "dbTrustServerCertificate": true,
        "dbPoolMin": 0,
        "dbPoolMax": 10,
        "dbPoolIdleTimeout": 30000,
        "dbPoolAcquireTimeout": 15000,
        "oauth2Enabled": true,
        "keycloakUrl": "http://localhost:8080",
        "keycloakRealm": "my-realm",
        "keycloakClientId": "my-api-client",
        "jwtValidateIssuer": true,
        "jwtIssuer": "",
        "jwtValidateAudience": false,
        "jwtAudience": "",
        "jwtClockTolerance": 30,
        "jwtAlgorithms": "RS256",
        "opaEnabled": true,
        "opaUrl": "http://localhost:8181",
        "opaPolicyPath": "/v1/data/api/authz",
        "opaCacheTTL": 60000,
        "opaTimeout": 5000,
        "opaRetryAttempts": 3,
        "tlsEnabled": true,
        "tlsRejectUnauthorized": true,
        "tlsMinVersion": "TLSv1.2",
        "tlsCertPath": "/data/certs/server.crt",
        "tlsKeyPath": "/data/certs/server.key",
        "tlsCaPath": "",
        "apiVersion": "v1",
        "apiBasePath": "/api",
        "apiVersionInPath": true,
        "openapiTitle": "Full Stack API",
        "openapiDescription": "API demonstrating TLS + OAuth2 + OPA + SQL Server integration. All layers work together on every request.",
        "openapiContactName": "API Support",
        "openapiContactEmail": "support@example.com",
        "openapiContactUrl": "",
        "openapiLicenseName": "MIT",
        "openapiLicenseUrl": "",
        "openapiTermsOfService": "",
        "loggingEnabled": true,
        "logLevel": "debug",
        "logOutput": "console",
        "logPrettyPrint": true,
        "logFilePath": "",
        "logRedactHeaders": true,
        "logIncludeUserContext": true
    },
    {
        "id": "full-stack-api-server",
        "type": "api-server",
        "z": "full-stack-flow",
        "name": "Full Stack API Server",
        "port": "3443",
        "host": "0.0.0.0",
        "config": "full-stack-api-config",
        "openapiEnabled": true,
        "openapiPath": "/openapi.json",
        "swaggerUiEnabled": true,
        "swaggerUiPath": "/docs",
        "metricsEnabled": true,
        "metricsPath": "/metrics",
        "x": 190,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "public-health-endpoint",
        "type": "api-endpoint",
        "z": "full-stack-flow",
        "name": "Public Health Check",
        "server": "full-stack-api-server",
        "path": "/public/health",
        "method": "GET",
        "validationEnabled": false,
        "bodySchema": "",
        "querySchema": "",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"status\":{\"type\":\"string\",\"enum\":[\"healthy\",\"degraded\",\"unhealthy\"]},\"timestamp\":{\"type\":\"string\",\"format\":\"date-time\"},\"version\":{\"type\":\"string\"},\"services\":{\"type\":\"object\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "",
        "scopeOperator": "AND",
        "crudOperation": "none",
        "tableName": "",
        "primaryKey": "id",
        "autoGenerateSql": false,
        "useFlowOutput": true,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 180,
        "y": 180,
        "wires": [["public-health-handler"]]
    },
    {
        "id": "public-health-handler",
        "type": "function",
        "z": "full-stack-flow",
        "name": "Handle Health Check",
        "func": "// Public endpoint - no authentication required\n// This is the only endpoint that doesn't go through all layers\n\nmsg.res.json({\n    status: 'healthy',\n    timestamp: new Date().toISOString(),\n    version: '1.0.0',\n    services: {\n        tls: 'enabled',\n        oauth2: 'enabled',\n        opa: 'enabled',\n        database: 'mssql'\n    }\n});\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "list-products-endpoint",
        "type": "api-endpoint",
        "z": "full-stack-flow",
        "name": "List Products (Auto SQL)",
        "server": "full-stack-api-server",
        "path": "/products",
        "method": "GET",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "{\"type\":\"object\",\"properties\":{\"category\":{\"type\":\"string\"},\"page\":{\"type\":\"integer\",\"minimum\":1,\"default\":1},\"limit\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100,\"default\":20}}}",
        "paramsSchema": "",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"data\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"integer\"},\"name\":{\"type\":\"string\"},\"category\":{\"type\":\"string\"},\"price\":{\"type\":\"number\"},\"stock\":{\"type\":\"integer\"}}}},\"pagination\":{\"type\":\"object\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "user",
        "scopeOperator": "AND",
        "crudOperation": "list",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": true,
        "useFlowOutput": false,
        "paginationEnabled": true,
        "defaultPageSize": 20,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": true,
        "filterableFields": "category,name",
        "sortingEnabled": true,
        "sortableFields": "id,name,price,stock",
        "defaultSortField": "id",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 200,
        "y": 280,
        "wires": [[]]
    },
    {
        "id": "get-product-endpoint",
        "type": "api-endpoint",
        "z": "full-stack-flow",
        "name": "Get Product (Auto SQL)",
        "server": "full-stack-api-server",
        "path": "/products/:id",
        "method": "GET",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "",
        "paramsSchema": "{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\",\"pattern\":\"^[0-9]+$\"}},\"required\":[\"id\"]}",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"integer\"},\"name\":{\"type\":\"string\"},\"category\":{\"type\":\"string\"},\"price\":{\"type\":\"number\"},\"stock\":{\"type\":\"integer\"}}},\"404\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"status\":{\"type\":\"integer\"},\"detail\":{\"type\":\"string\"}}}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "user",
        "scopeOperator": "AND",
        "crudOperation": "get",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": true,
        "useFlowOutput": false,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 200,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "create-product-endpoint",
        "type": "api-endpoint",
        "z": "full-stack-flow",
        "name": "Create Product (Auto SQL)",
        "server": "full-stack-api-server",
        "path": "/products",
        "method": "POST",
        "validationEnabled": true,
        "bodySchema": "{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":200},\"category\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":50},\"price\":{\"type\":\"number\",\"minimum\":0},\"stock\":{\"type\":\"integer\",\"minimum\":0,\"default\":0}},\"required\":[\"name\",\"category\",\"price\"]}",
        "querySchema": "",
        "paramsSchema": "",
        "responseSchemas": "{\"201\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"integer\"},\"name\":{\"type\":\"string\"},\"category\":{\"type\":\"string\"},\"price\":{\"type\":\"number\"},\"stock\":{\"type\":\"integer\"}}},\"400\":{\"type\":\"object\"},\"403\":{\"type\":\"object\"}}",
        "successStatusCode": "201",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "admin",
        "scopeOperator": "AND",
        "crudOperation": "create",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": true,
        "useFlowOutput": false,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": true,
        "rateLimitRequests": 20,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "user",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 210,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "update-product-endpoint",
        "type": "api-endpoint",
        "z": "full-stack-flow",
        "name": "Update Product (Auto SQL)",
        "server": "full-stack-api-server",
        "path": "/products/:id",
        "method": "PUT",
        "validationEnabled": true,
        "bodySchema": "{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":200},\"category\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":50},\"price\":{\"type\":\"number\",\"minimum\":0},\"stock\":{\"type\":\"integer\",\"minimum\":0}}}",
        "querySchema": "",
        "paramsSchema": "{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\",\"pattern\":\"^[0-9]+$\"}},\"required\":[\"id\"]}",
        "responseSchemas": "{\"200\":{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"integer\"},\"name\":{\"type\":\"string\"},\"category\":{\"type\":\"string\"},\"price\":{\"type\":\"number\"},\"stock\":{\"type\":\"integer\"}}},\"404\":{\"type\":\"object\"},\"403\":{\"type\":\"object\"}}",
        "successStatusCode": "200",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "admin",
        "scopeOperator": "AND",
        "crudOperation": "update",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": true,
        "useFlowOutput": false,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 210,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "delete-product-endpoint",
        "type": "api-endpoint",
        "z": "full-stack-flow",
        "name": "Delete Product (Auto SQL)",
        "server": "full-stack-api-server",
        "path": "/products/:id",
        "method": "DELETE",
        "validationEnabled": true,
        "bodySchema": "",
        "querySchema": "",
        "paramsSchema": "{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\",\"pattern\":\"^[0-9]+$\"}},\"required\":[\"id\"]}",
        "responseSchemas": "{\"204\":{\"description\":\"Product successfully deleted\"},\"403\":{\"type\":\"object\"},\"404\":{\"type\":\"object\"}}",
        "successStatusCode": "204",
        "responseContentType": "application/json",
        "validateResponseEnabled": false,
        "requiredScopes": "admin",
        "scopeOperator": "AND",
        "crudOperation": "delete",
        "tableName": "products",
        "primaryKey": "id",
        "autoGenerateSql": true,
        "useFlowOutput": false,
        "paginationEnabled": false,
        "defaultPageSize": 10,
        "maxPageSize": 100,
        "paginationStyle": "offset",
        "filteringEnabled": false,
        "filterableFields": "",
        "sortingEnabled": false,
        "sortableFields": "",
        "defaultSortField": "",
        "defaultSortDirection": "asc",
        "transformationEnabled": false,
        "requestTransformExpression": "",
        "responseTransformExpression": "",
        "fieldMappings": "",
        "rateLimitingEnabled": false,
        "rateLimitRequests": 100,
        "rateLimitWindowMs": 60000,
        "rateLimitKeyType": "ip",
        "rateLimitCustomKeyPath": "",
        "cachingEnabled": false,
        "cacheTTL": 60000,
        "cacheMaxSize": 100,
        "cacheKeyStrategy": "full",
        "cacheKeyExpression": "",
        "cacheVaryHeaders": "",
        "cachePrivate": false,
        "errorHandlingEnabled": true,
        "errorFormat": "rfc7807",
        "includeStackTrace": false,
        "logErrors": true,
        "customErrorCodes": "",
        "x": 210,
        "y": 600,
        "wires": [[]]
    },
    {
        "id": "full-stack-comment-1",
        "type": "comment",
        "z": "full-stack-flow",
        "name": "Full Stack: All Layers Integrated",
        "info": "This API demonstrates all security layers working together on EVERY request:\n\n**Request Flow:**\n1. HTTPS/TLS (Port 3443) - encrypted transport\n2. OAuth2/JWT validation via Keycloak\n3. OPA policy authorization check\n4. SQL Server query execution\n\n**Key Settings:**\n- `autoGenerateSql: true` - framework generates SQL\n- `useFlowOutput: false` - no custom handlers needed\n- `crudOperation: list|get|create|update|delete`\n\nNo mock data - all queries hit the real database!",
        "x": 220,
        "y": 40,
        "wires": []
    },
    {
        "id": "full-stack-comment-2",
        "type": "comment",
        "z": "full-stack-flow",
        "name": "Public (no auth)",
        "info": "Health check bypasses OAuth2/OPA.\nOnly endpoint with useFlowOutput: true",
        "x": 160,
        "y": 140,
        "wires": []
    },
    {
        "id": "full-stack-comment-3",
        "type": "comment",
        "z": "full-stack-flow",
        "name": "Read: user role + SQL SELECT",
        "info": "TLS -> OAuth2 (user) -> OPA -> SQL SELECT",
        "x": 210,
        "y": 240,
        "wires": []
    },
    {
        "id": "full-stack-comment-4",
        "type": "comment",
        "z": "full-stack-flow",
        "name": "Write: admin role + SQL INSERT/UPDATE",
        "info": "TLS -> OAuth2 (admin) -> OPA -> SQL INSERT/UPDATE\nUser service gets 403 Forbidden",
        "x": 230,
        "y": 400,
        "wires": []
    },
    {
        "id": "full-stack-comment-5",
        "type": "comment",
        "z": "full-stack-flow",
        "name": "Delete: admin role + SQL DELETE",
        "info": "TLS -> OAuth2 (admin) -> OPA -> SQL DELETE\nRequires api:delete permission",
        "x": 220,
        "y": 560,
        "wires": []
    }
]
